$debug: false;
$breakpoint-mobile: 800px;


@if $debug {
	* {
	
		border: 0.25px solid black;
	}
}

@import url('https://fonts.googleapis.com/css?family=Bitter:400|Rubik:300,500|Montserrat:700');
@import "partials/navbar";
@import "partials/picture";
@import "partials/home";
@import "partials/footer";
@import "partials/path";
@import "partials/posts";