$debug: false;
$breakpoint-mobile: 800px;


@if $debug {
	* {
	
		border: 0.25px solid black;
	}
}


a{
	text-decoration: none;
	color: black;
}


.content{
		max-width: 80vw;
		display: block;
		margin: auto;
		color: black;
	}


@media all and (min-width: 800px){
	.content{
		max-width: 70vw;
		display: block;
		margin: auto;
	}
}

@import url('https://fonts.googleapis.com/css?family=Bitter:700|Montserrat:800|Rubik:500');
@import "partials/navbar";
@import "partials/picture";
@import "partials/home";
