<div class="footer">
	<div class="footer-contact">
		<div class="contact-options">
			<span>
				<a href="mailto:{{site.email}}" class="option"><i class="fa fa-envelope" aria-hidden="true"></i></a>
			</span>
			<span>
				<a href="https://instagram.com/{{ site.instagram_usename }}" class="option"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</span>
			<span>
				<a href="http://github.com/{{ site.github_username }}" class="option"><i class="fa fa-github" aria-hidden="true"></i></a>
			</span>
			<span class="top">
				<span class="option"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
			</span>
		</div>
	</div>
</div>
