<div class="footer">
	<div class="footer-contact">
		<span>
			Contact me at
		</span>
		<div class="contact-options">
			<span>
				<a href="mailto:{{site.email}}" class="option">{{ site.email }}</a>
			</span>
			<span>
				<a href="http://github.com/{{ site.github_username }}" class="option">github</a>
			</span>
			<span>
				<a href="" class="option">resume</a>
			</span>
		</div>
	</div>
	<div class="top">
		<span class="arrow">^</span>
		<span class="text">Back to top</span>
	</div>
</div>
