<div class="footer">
	<div class="contact-options">
		<span>
			<a href="mailto:{{site.email}}" class="option" title="Send me an e-mail"><i class="far fa-envelope-open" aria-hidden="true"></i></a>
		</span>
		<span>
			<a href="https://unsplash.com/@deadbeatfour" class="option" title="Unsplash"><i class="fas fa-camera-retro" aria-hidden="true"></i></a>
		</span>
		<span>
			<a href="http://github.com/{{ site.github_username }}" class="option" title="GitHub"><i class="fab fa-github-alt" aria-hidden="true"></i></a>
		</span>
		<span class="top">
			<span class="option"><i class="fas fa-angle-double-up" aria-hidden="true" title="Scroll to Top"></i></span>
		</span>
	</div>
</div>

