<div class="header">
	<span class="menu-toggle">
		<img src="{{ site.baseurl }}{{ site.staticfiles }}/img/hamburger.png" class='toggle-button'/>
	</span>
	<div class="pulldown">
		<div class="nav">
		<span class="nav_link" id="about"><a href="{{ site.baseurl }}/">about.</a></span>
		<span class="nav_link" id="text"><a href="{{ site.baseurl }}/text">text.</a></span>
		<span class="nav_link" id="code"><a href="{{ site.baseurl }}/code">code.</a></span>
		<span class="nav_link" id="design"><a href="{{ site.baseurl }}/design">design.</a></span>
		<span class="nav_link" id="physics"><a href="{{ site.baseurl }}/physics">physics.</a></span>
		</div>
	</div>
</div>

