<div class="social">
		<span><i class="fab fa-facebook" aria-hidden="true"></i><a class="share"
			id="facebook"
			href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}">
			Share this on Facebook
			</a></span>
	<span>or</span>
		<span><i class="fab fa-twitter" aria-hidden="true"></i>
			<a
			class="share"
			id="twitter"
			href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.url | url_encode }}
			&text={{ page.heading | url_encode }}">
			Tweet this article.
			</a></span>
</div>
