@import url("https://fonts.googleapis.com/css?family=Bitter:700|Montserrat:800|Rubik");
#about {
  color: #000; }

#code {
  color: #1982c4; }

#design {
  color: #6a4c93; }

#physics {
  color: #ff595e; }

.nav_link {
  display: none;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.5rem; }

.menu-toggle {
  text-align: right;
  font-family: Montserrat;
  font-size: 7vw; }

.nav {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 7vw; }

@media all and (min-width: 800px) {
  .menu-toggle {
    display: none; }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: strech;
    margin-bottom: 4vw; }
  .nav_link {
    display: flex; } }

.name,
.contact {
  display: flex;
  flex-direction: column; }

.name {
  font-family: Montserrat;
  font-size: 10vw;
  text-align: center; }

.heading {
  font-family: Montserrat;
  font-size: 8vw; }

.email {
  font-family: Bitter;
  font-size: 3vw;
  vertical-align: middle; }

.image {
  margin: auto; }

.main {
  display: flex;
  flex-direction: column; }

.description,
.contact,
.tldr {
  font-family: Rubik; }

.contact {
  font-size: 5.5vw;
  margin-bottom: 5vw; }

.tldr {
  font-size: 3.5vw; }

.tldr ul {
  padding-left: 5vw; }

.picture {
  width: 200px;
  height: 200px;
  border-radius: 200px; }

.description {
  text-align: center;
  font-size: 4.5vw;
  margin-top: 2vw;
  margin-bottom: 3vw; }

@media all and (min-width: 800px) {
  .bio {
    order: 1;
    width: 50%; }
  .name {
    margin-bottom: 2vw;
    text-align: left;
    font-size: 4vw; }
  .image {
    order: 4; }
  .picture {
    width: 25vw;
    height: 25vw;
    border-radius: 25vw; }
  .description {
    order: 2;
    margin-bottom: 2vw;
    font-size: 1.9vw;
    text-align: left; }
  .contact {
    order: 3;
    margin-bottom: 0.5vw;
    font-size: 2.5vw; }
  .email {
    font-size: 1.5vw;
    vertical-align: top; }
  .tldr {
    order: 5;
    font-size: 1.8vw; }
  .main {
    flex-flow: row wrap; }
  .heading {
    font-size: 2.5vw; } }

a {
  text-decoration: none;
  color: black; }

.content {
  max-width: 80vw;
  display: block;
  margin: auto; }

@media all and (min-width: 800px) {
  .content {
    max-width: 70vw;
    display: block;
    margin: auto; } }
