@import url("https://fonts.googleapis.com/css?family=Bitter:400|Rubik:500|Montserrat:700");
a {
  text-decoration: none;
  color: black; }

.content {
  max-width: 80vw;
  display: block;
  margin: auto;
  color: black; }

body {
  margin: 0 auto; }

@media all and (min-width: 800px) {
  .content {
    max-width: 70vw;
    display: block;
    margin: auto; } }

#about {
  color: white;
  background-color: #000; }

#code {
  color: white;
  background-color: #1982c4; }

#design {
  color: white;
  background-color: #6a4c93; }

#physics {
  color: white;
  background-color: #ff595e; }

.nav_link {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  padding-bottom: 1vw;
  padding-top: 1vw; }

.menu-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.toggle-button {
  height: 10vw;
  width: 10vw;
  margin-top: auto;
  margin-bottom: auto;
  padding: 3vw; }

.nav {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 7vw; }

.header {
  width: 100%;
  position: relative; }

@media all and (min-width: 800px) {
  .menu-toggle {
    display: none; }
  .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: strech;
    -webkit-align-items: strech;
        -ms-flex-align: strech;
            align-items: strech;
    margin-bottom: 4vw; }
  .nav_link {
    font-size: 3.5vw; }
  .pulldown {
    display: block;
    width: 80vw; }
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #about {
    color: #000;
    background-color: white; }
  #code {
    color: #1982c4;
    background-color: white; }
  #design {
    color: #6a4c93;
    background-color: white; }
  #physics {
    color: #ff595e;
    background-color: white; } }

.name,
.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.name {
  font-family: 'Montserrat', sans-serif;
  font-size: 10vw;
  text-align: center; }

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 8vw; }

.email {
  font-family: 'Bitter', serif;
  font-size: 4vw;
  vertical-align: top; }

.image {
  margin: auto; }

.main {
  margin-top: 8vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.description,
.contact,
.tldr {
  font-family: 'Rubik', sans-serif;
  font-size: 3.5vw; }

.contact {
  font-size: 6vw;
  margin-top: 8vw;
  margin-bottom: 5vw; }

.tldr ul {
  padding-left: 5vw; }

.picture {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 200px;
          border-radius: 200px; }

.description {
  text-align: center;
  font-size: 4.5vw;
  margin-top: 2vw;
  margin-bottom: 3vw; }

@media all and (min-width: 800px) {
  .bio {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 50%;
    margin-bottom: 2vw; }
  .name {
    margin-bottom: 1vw;
    text-align: left;
    font-size: 3vw; }
  .image {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  .picture {
    width: 22vw;
    height: 22vw;
    -webkit-border-radius: 22vw;
            border-radius: 22vw; }
  .description {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 4vw;
    margin-top: 1vw;
    font-size: 1.5vw;
    text-align: left; }
  .contact {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 0.5vw;
    font-size: 2.5vw;
    margin-top: 0vw; }
  .email {
    font-size: 1.5vw;
    vertical-align: top; }
  .tldr {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
    font-size: 1.5vw; }
  .tldr ul {
    margin-top: 1vw; }
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-top: 1vw; }
  .heading {
    font-size: 2.5vw; } }
