.footer{
	position: relative;
	bottom: 0;
	margin: 2vw auto 0 auto;
	padding:10vw 0 4vw 0;
	width: 100%;
	height: 25vw;
	background-color:  black;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// *{
	// 	border: 1px solid white;
	// }

}
.arrow{
	text-align: center;
}

.footer-contact{
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	font-size: 4.5vw;
	margin: 0 auto;

}
.top {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	font-family: 'Rubik', sans-serif;
	font-size: 4.5vw;
	color: white;
}
.top{
	cursor: pointer;
}
.contact-options{
	display: flex;
	flex-direction: column;

}
	
.option{

	color: white;
	font-family: 'Roboto', sans-serif;
	font-size:3vw;
	margin-left: 2vw;


}
@media all and (min-width: $breakpoint-mobile){

	.footer{
	display: flex;
	height: 2vw;
	flex-direction: row;
	justify-content: space-around;	
	padding: 3vw 0 4vw 0;
		
	}
	.footer-contact{
		font-size: 1.7vw;
		margin: auto 5vw;
		span{
			width: 100%;
		}
	}
	.top {
		font-size: 1vw;
		margin: auto 5vw;
	}
	.option{
		font-size: 1.2vw;
		margin: 1vw;

	}
	.contact-options{
		flex-direction: row;
		span {
			display: flex;
			align-items: center;
		}
	}
}