.main{
	margin-top:1rem;
	display: flex;
	flex-direction: column;
	.image{
		margin: auto;
		.picture{
			@include round_pic(60vw);
		}
	}
	.bio{
		.name{
			font-family: 'Montserrat', sans-serif;
			font-size: 2.5rem;
			text-align: center;
			display: flex;
			flex-direction: column;
		}
		.description,
		.tldr{
			.heading{
				font-family: 'Montserrat', sans-serif;
				font-size: 1.5rem;
			}
			font-family: 'Rubik', sans-serif;
			ul{
				padding-left:2.5rem;
				li {
				font-size: 1rem;
				}
			}
		}
		.description{
			p{
				text-align: left;
				font-size: 1.2rem;
			}
			margin: 1rem auto;
		}
	}
	.about{
		order:5;
		p{
			text-align: left;
		}
	}
}

@media all and (min-width: $breakpoint-mobile){
	.main{
		flex-flow: row wrap;
		.image{
			order:2;
			.picture {
				@include round_pic(25rem);
			}
		}
		.bio{
			order:2;
			width:25rem;
			margin: auto auto;
			.name {
				text-align: left;
				font-size: 3rem;
			}

			.description{
				order:3;
				margin: 1rem auto;


			}
			.tldr{
				.heading{
					font-size: 2rem;
				}
				order:4;		
				ul{
				margin-top: 1rem;
					li{
						font-size: 1.2rem;
					}
				}
			}
		}
		.about{
			margin-top: 1rem;
		}
	}
}

