// top nav bar

$colormap: (
 	about: #000,
 	text: #8ac926,
	code: #1982c4,
	design: #6a4c93,
	physics: #ff595e, 
);

@each $color,$value in $colormap {
	 	 ##{$color} {
		    background-color: $value;
		    a{
		    color: white;
			}
	  	}
	}

.nav_link {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
}
.menu-toggle{
	display: flex;
	justify-content: flex-end;
}
 .toggle-button{
 	height: 8vw;
 	width: 8vw;
 	margin-top: auto;
 	margin-bottom: auto;
 	padding: 3vw;

 }
.nav{
	justify-content:center;
	display:flex;
	flex-direction: column;
	margin-bottom: 7vw;
}
.header{
	width:100%;
	position: relative;		
	}


@media all and(min-width: $breakpoint-mobile){
	.menu-toggle{display: none;}
	
	.nav{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
		align-items: strech;
		margin-bottom: 1vw;
	}

	.nav_link {
		font-size: 2.5vw;
	}

	.pulldown{
		display: block;
		width: 60vw;
	}
	.header{
		display: flex;
		justify-content: center;
	}
	@each $color,$value in $colormap {
	 	 ##{$color}  {
		    background-color: white;
		    a {
		    	   	color: $value;    
		  	}
		}

	}
}
