


a{
	text-decoration: none;
	color: black;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	min-height: 100vh;

}


.content{
		width: 80vw;
		margin: auto;
		color: black;
		overflow-wrap: break-word;
		flex: 1 0 auto;

		.header{
			font-family: 'Montserrat', sans-serif;
			font-size: 7vw;
			line-height: 10.5vw;
			display: block;
			text-align: left;
		}

		p{
			font-size: 1rem;
			line-height: 1.5rem;
			text-align: justify;
			
			img{
				display: block;
				margin: 0 auto;
				max-width: 100%;
				height: auto;
			}
		}

		pre{
			padding: 1vw;
			background: lightgray;
			font-size: 1rem;
			overflow: auto;
			white-space: pre;
			border-radius: 5px;

			& .highlight{

			}
		
			code{
				// padding: 1vw;
				background: lightgray;
				font-size: 3vw;
				overflow: auto;
				white-space: pre;
			}
		}

		h2,
		h3{
			font-weight: 500;
		}
		font-family: 'Rubik', sans-serif;
		font-weight: 300;

		.social{
			display:flex;
			flex-direction: row;
			span{
				margin-right: 1vw;
			}
		}
	}




@media all and (min-width: 800px){
	html,
	body{
		min-height: 100vh;
	}

	body{
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
	.content{
		width: 70vw;
		margin: auto;
		flex: 1 0 auto;

		.header{
			font-size: 4vw;
		}
		
		p{	
			font-size: 1.5vw;
			line-height: 2.25vw;

			img{
				max-width: 100%;
				height: auto;
				display: block;
				margin: 0 auto;

			}
		}
		pre{
			code{
				font-size: 1.5vw;
			}
		}
		.description{
			font-size: 1.8vw;
			line-height: 2.7vw;
		}
		h2{
			font-size: 2.5vw;
		}
		
	}
}