

a{
	text-decoration: none;
	color: black;
}
body {
	display:flex;
	flex-direction: column;
	margin: 0 auto;
	min-height: 100vh;

}
.content{
	width: 80vw;
	margin: auto;
	color: black;
	overflow-wrap: break-word;
	flex: 1 0 auto;
	.header{
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		*{
			margin: 0;
		}
		.post-title{
			order:2;
			font-family: 'Montserrat', sans-serif;
			font-size: 2rem;
			display: block;
			text-align: left;
		}
		.date{
				order:1;
				text-align: right;
				width: 100%;
			}
		.post-description{
				order:3;
				text-align: left;
				font-style: italic;
				font-size: 1.3rem;
			}
	}
		p{
			font-size: 1rem;
			text-align: justify;

			
			a{
				text-decoration: underline;
				color: black;
			}
			
			img{
				display: block;
				margin: 0 auto;
				max-width: 100%;
				height: auto;
			}
		}
		.highlight{
			margin: 0 auto;
			pre{
				padding: 1vw;
				background: lightgray;
				font-size: 1rem;
				overflow: auto;
				white-space: pre;
				border-radius: 5px;


			
				code{
					// padding: 1vw;
					background: lightgray;
					font-size: 1rem;
					overflow: auto;
					white-space: pre;
				}
			}
		}
		h2,
		h3{
			font-weight: 500;
		}
		font-family: 'Rubik', sans-serif;
		font-weight: 300;

		.social{
			display: flex;
			flex-direction: column;
			text-align: center;
			width: 100%;
			border-radius: 5px;
			background-color: #DDF;
			padding: 2vw 0;
			i{
					margin-right: 0vw;
			}
		}
	}

blockquote{
	border-left: 5px solid #BBD;
	background-color: #EEE;
	padding: 5px 20px;
	width: auto;
	text-align: left;
}




@media all and (min-width: 800px){
	html,
	body{
		min-height: 100vh;
	}

	body{

		display: flex;
		flex-direction: column;
	}
	.content{
		width: 60rem;
		flex: 1 0 auto;
		.header{
			.post-title{
				font-size: 3rem;
			}
		}


		
		p{	
			font-size: 1.2rem;
			img{
				max-width: 100%;
				height: auto;
				display: block;
				margin: 0 auto;

			}
		}
		pre{
			code{
				font-size: 1rem;
			}
		}
		.post-description{
			font-size: 1.4vw;
			// line-height: 2.7vw;
		}
		h2{
			font-size: 2rem;
		}
		.social{
			flex-direction: row;
			justify-content: center;
			span{
				margin: 0 1vw;
			}
		}
	}
}