.post_list{
	display: flex;
	flex-direction: column


}

.post_card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 4vw 0;
	width: 100%;
	margin: 1vw auto;

	.post_info{
		display: flex;
		flex-direction: column;
	}


}
.card_title{
	font-family: 'Montserrat', sans-serif;
	font-size: 6vw;

}
.card_desc{
	text-align: left;
	font-family: 'Rubik', sans-serif;
	font-size: 4vw;
	margin: 1vw auto;
	width: 100%;

}
.card_date{
			text-align: right;
}

@media all and (min-width: $breakpoint-mobile){
	.post_list{
		

	}

	.post_card{
		padding: 1vw 0;
		margin: 0.5vw auto;

	}
	.card_title{
		font-size:2vw;

	}
	.card_desc{
		font-size: 2vw;
		
	}
	.card_date{
		font-size: 1.5vw;


	}
}