<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{{ site.staticfiles }}/css/main.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{{ site.staticfiles }}/css/hamburgers/hamburger.css">
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous">
	</script>
	<script src="{{ site.baseurl }}{{ site.staticfiles }}/js/menuToggle.js" type="text/javascript" charset="utf-8" async defer>
	</script>
	
	<title>{{ site.title }}</title>
</head>
<body>


{{ content }}

</body>
</html>