<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{{ site.staticfiles }}/css/main.css">
	<script src="{{ site.baseurl }}{{ site.staticfiles }}/js/menuToggle.js" type="text/javascript" charset="utf-8" async defer>
	</script>
	<script src="{{ site.baseurl }}{{ site.staticfiles }}/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8" async defer>
	</script>
	<title>{{ site.title }}</title>
</head>
<body>
<div class="content">
	{% include header.html %}
	{{ content }}
</div>

</body>
</html>